<div class="row">
  <li class="col-4 button bg-success"> <%= link_to "page 1", root_path, :class => 'nav-link text-dark' %> </li>
  <li class="col-4 button bg-warning"> <%= link_to "page 1", root_path, :class => 'nav-link text-dark' %> </li>
  <li class="col-4 button bg-dark"> <%= link_to "page 1", root_path, :class => 'nav-link text-white' %> </li>
</div>
