<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active nav-item"> <%= link_to "page 1", root_path, :class => 'nav-link' %> </li>
      <li class=" nav-item"> <%= link_to "page 2", root_path, :class => 'nav-link' %> </li>
      <li class=" nav-item"> <%= link_to "page 3", root_path, :class => 'nav-link' %> </li>
    </ul>
    <button class="btn btn-danger navbar-btn">Button</button>
  </div>
</nav>
